 /* background-color: black;
    color: white;
    */

body{
    margin: 0;
    background: rgb(231, 231, 231);
    color: indigo;
    scale: 1;
    
}
div.wrap{
    width: 80%;
    max-width: 550px;
    margin-inline: auto;
    /* border: 2px solid indigo; */
    display: flex;
    padding-inline: 1rem;
    /* align-items: center; */
    flex-direction: column;
}
h1{
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
div.inputes{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
input{
    height: 2.5rem;
    outline: none;
    /* padding-inline: 1em; */
    font-size: 11px;
    color: indigo;
    font-size: .8rem;
    padding-left: .5rem;
    /* text-transform: capitalize; */
    border-radius: 5px;
    border: none; 
    /* border: 2px solid indigo; */
}
.todo-input::placeholder{
    color: indigo;
}
.datePicker{
    opacity: 0.5;
}
button.submit{
    margin-top: 1.5rem;
    width: 100%;
    font-size: 16px;
    border: none;
    padding: .7em .9rem;
    border-radius: 5px;
    background: indigo;
    color: white;
    cursor: pointer;
}
button.ssubmit{
    margin: 1em;
    width: 21%;
    font-size: 16px;
    border: none;
    padding: .6em .7rem;
    border-radius: 10px;
    background: indigo;
    color: white;
    cursor: pointer;
    margin-top: 9px;
    display: none;
    opacity: .8;
    
}

div.sibmit{
    display: flex;
    justify-content: space-between;
}
div.todo-list{
    /* margin: 0 0 0 0em; */
    display: block;

}

div.todo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2em;
}
.removeBtn{
    border-radius: 7px;
    padding: .1rem 1.2rem;
    background: indigo;
    color: white;
    cursor: pointer;
    border: none;
}
.clear{
    display: flex;
    justify-content: space-around;
}
p.red{
    color: red;
    font-size: 16px;
    display: none;
    
}
label{
    font-size: 1.2rem;
    opacity: .9;
}